.loadingContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: var(---background);
  color: var(--foreground);
  text-align: center;
  padding: 24px;

  .spinner {
    --size: 48px;
    --color: var(--foreground);
  }

  .message {
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}
