.storyPreview {
  backdrop-filter: blur(var(--blur-radius));
  transition: transform var(--transition-speed) var(--transition-timing);
  box-shadow: 0 8px 16px var(--shadow-color);
  border: 1px solid var(--card-border);
  background-color: var(--card-background);
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;

  .storyPreviewText {
    font-size: 16px;
    line-height: 1.6;
    color: var(--foreground);
    text-indent: 2em;
  }

  .readMore {
    transition: transform var(--transition-speed) var(--transition-timing);
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--primary);

    &::after {
      transition: transform var(--transition-speed) var(--transition-timing);
      margin-left: 5px;
      content: '→';
    }

    &:hover {
      &::after {
        transform: translateX(3px);
      }
    }
  }
}

.storyText {
  font-size: 16px;
  line-height: 1.8;
  padding: 20px;
  color: var(--foreground);

  p {
    text-indent: 2em;
    margin-bottom: 1em;
  }
}