.app {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--initial-background, var(--background, #000000));
  color: var(--initial-foreground, var(--foreground, #ffffff));
  position: relative;
  display: flex;
  flex-direction: column;
  /* 添加过渡效果 */
  transition: background-color var(--transition-speed) var(--transition-timing),
    color var(--transition-speed) var(--transition-timing);

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
